/* styles.css */

div {
    background: red;
    color: white;
    font-size: 32px; 
    text-align: center;
    font-weight: bold;
}

p {
    background: green;
    color: white;
    font-size: 18px;
}

button {
    background: orange;
    font-size: 18px;
}

